:root {
    --text-clr: black;
    --font-def: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */

header {
    background-color: #1B5E20;
    height: 100vh;
}

#navigation {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    position: fixed;
    background: rgba(0, 128, 0, 0.3);
    backdrop-filter: blur(3px);
}

#navigation .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

#navigation .logo > img {
    width: 40px;
}

#navigation .logo > a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding-right: 20px;
}

nav li {
    list-style: none;
}

nav li > a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 15px 20px;
}

nav li > a:hover {
    background-color: lavender;
    color: #1B5E20;
    transition: ease-in 0.2s;
    border-radius: 3px;
}

.menu-icon, .menu-checkbox {
    display: none;
}

/* Hero */
#hero {
    display: flex;
    height: 100%;
}

#hero .hero-content {
    flex: 1;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    padding-bottom: 10px;
}

#hero .hero-content p {
    padding-bottom: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    font-family: var(--font-def);
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

button:hover {
    background-color: #1B5E20;
    border: 1px solid white;
    color: white;
    transition: ease 0.3s;
}

.cta button:nth-child(1) {
    margin-right: 10px;
}

#hero .hero-image {
    flex: 1;
    display: flex;
    align-items: center;
}

#hero img { 
    width: 70%;
}

/* About */
#about {
    height: 70vh;
    display: flex;
}

#about .about-image {
    flex: 1;
    display: grid;
    place-items: center;
}

#about .about-info {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 30px 0 0;
    text-align: justify;
}

#about .about-image img {
    width: 60%;
    border-radius: 50%;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 5px solid #1B5E20;
    padding-bottom: 5px;
}

/* Menu */
#menu {
    text-align: center;
    background-color: #1B5E20;
}

#menu > h3 {
    color: white;
    border-bottom: 5px solid black;
    display: inline-block;
    margin: 50px 0 60px;
}

#menu .container {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    gap: 80px;
    padding: 0 30px 80px;
}

#menu .container .item {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#menu .container .item:hover {
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 2px white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

h4 {
    font-size: 25px;
}

#menu .container .item img {
    width: 80%;
    border-radius: 50%;
}

/* Testimonials */
#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#testimonials > h3 {
    display: inline-block;
    margin: 50px 0 60px;
}

#testimonials .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: auto;
    scroll-behavior: smooth;
    max-width: 80%;
}

#testimonials .container .item {
    min-width: 320px;
    display: grid;
    place-items: center;
    gap: 15px;
    text-align: center;
}

#testimonials .container .item img {
    width: 60%;
    border-radius: 50%;
}

#testimonials .container .item p {
    font-style: italic;
}

#testimonials .container::-webkit-scrollbar {
    display: none; /* To remove the visible scrollbar */
}

/* Gallery */
#gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5FFFA;
}

#gallery > h3 {
    display: inline-block;
    margin: 50px 0 60px;
}

#gallery .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 50px;
}

#gallery .container .item {
    overflow: hidden;
    border-radius: 10px;
    cursor: zoom-in;
}

#gallery .container img {
    width: 350px;
    transition: ease-in-out 0.3s;
    border-radius: 10px;
}

#gallery .container img:hover {
    transform: scale(1.1);
}

/* Media Queries*/
@media (max-width: 768px) {

    /* Navigation */
    #navigation {
        flex-direction: column;
        display: block;
    }

    #navigation .logo {
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        display: none;
        text-align: center;
        padding: 0;
        background: rgba(0, 128, 0, 0.3);
        backdrop-filter: blur(4px);
        height: 100%;
        margin: 8px 0;
    }

    nav li > a {
        display: block;
    }

    .menu-icon {
        display: block;
        color: white;
        position: absolute;
        right: 25px;
        top: 25px;
    }

    nav ul.show {
        display: block;
    }

    /* Hero */
    #hero {
        flex-direction: column;
    }
    #hero .hero-content {
        max-height: 400px;
        padding: 0 50px;
        order: 2;
    }

    #hero .hero-image {
        order: 1;
        display: grid;
        place-items: center;
    }

    #hero .hero-image img {
        width: 50%;
        padding-top: 80px;
    }

    /* About */
    #about {
        flex-direction: column;
    }

    #about .about-image {
        padding: 20px 0;
    }
l
    #about .about-image img {
        width: 50%;
    }

    #about .about-info {
        padding: 0 15px;
    }

    /* Testimonials */
}

/* display: none; */
#contact, footer {
    display: none;
}